@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sawarabi+Mincho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(240, 238, 235);
}


.font-oswald{
    font-family: "Oswald";
}


.font-mar{
    font-family: 'Martel Sans'!important;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 900;
    font-style: normal;
  }

  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }

.scrollable-container::-webkit-scrollbar {
    display: none;
}

/* TextEditor.css */

/* Custom styles for the Quill editor to give it a "bubble" theme look */
.ql-container {
    border: none;
    border-radius:0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
   
   .ql-editor {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
   }
   
   .ql-toolbar {
    border-radius: 20px 20px 0 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
   }
   
   .ql-toolbar button,
   .ql-toolbar .ql-picker-label,
   .ql-toolbar .ql-picker-item {
    color: #333;
   }
   
   .ql-toolbar button:hover,
   .ql-toolbar .ql-picker-label:hover,
   .ql-toolbar .ql-picker-item:hover {
    color: #007bff;
   }
   
   .ql-toolbar button.ql-active,
   .ql-toolbar .ql-picker-label.ql-active,
   .ql-toolbar .ql-picker-item.ql-active {
    color: #007bff;
   }
   


   
   .dropdown {
    position: relative;
    color: #333;
    cursor: default;
    width: 100%;
    border-radius: 20px;
  }
  
  .dropdown .arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
  }
  
  .dropdown .arrow.open {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
  
  .dropdown .selected-value input {
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
  }
  
  .dropdown .options {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }
  
  .dropdown .options.open {
    display: block;
  }
  
  .dropdown .option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  
  .dropdown .option.selected,
  .dropdown .option:hover {
    background-color: #f2f9fc;
    color: #333;
  }




  .file-upload-form {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    width: 100%;
    background-color: #f5f5f5;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    /* box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719); */
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }



  /* checkbox */

  