@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sawarabi+Mincho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(240, 238, 235);
}


.font-oswald{
    font-family: "Oswald";
}


.font-mar{
    font-family: 'Martel Sans'!important;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 900;
    font-style: normal;
  }

  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }

.scrollable-container::-webkit-scrollbar {
    display: none;
}

/* TextEditor.css */

/* Custom styles for the Quill editor to give it a "bubble" theme look */
.ql-container {
    border: none;
    border-radius:0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
   
   .ql-editor {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
   }
   
   .ql-toolbar {
    border-radius: 20px 20px 0 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
   }
   
   .ql-toolbar button,
   .ql-toolbar .ql-picker-label,
   .ql-toolbar .ql-picker-item {
    color: #333;
   }
   
   .ql-toolbar button:hover,
   .ql-toolbar .ql-picker-label:hover,
   .ql-toolbar .ql-picker-item:hover {
    color: #007bff;
   }
   
   .ql-toolbar button.ql-active,
   .ql-toolbar .ql-picker-label.ql-active,
   .ql-toolbar .ql-picker-item.ql-active {
    color: #007bff;
   }
   